.bg-image {
    background-color: grey;
    background-position: center;
    background-size: cover;
}

.bg-image-1 {
  background-image: url("https://images.unsplash.com/photo-1516139008210-96e45dccd83b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60min3");

min-height: 50vh;
}

.bg-image-2 {
  background-image: url("https://images.unsplash.com/photo-1550483135-4a6b4cbc6469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
min-height: 30vh;
}
